package {
    name "dalongdemo" 
    author "dalongdemo" 
    url "https://github.com/rongfengliang/onyx-package-demo" 
    description "dalongdemo" 
    version "3.0.0" 
}

config {
    dependency_source_path "./lib" 
    dependency_binary_path "./bin" 
}

